<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>airtablekanbanmobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C6E1CD30DDE1CD85BAF8991CEF7FBB0D2D44D171</string>
				<key>dateExpires</key>
				<string>3/17/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C6E1CD30DDE1CD85BAF8991CEF7FBB0D2D44D171</string>
						<key>dateExpires</key>
						<string>3/17/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UYQDLELD5G</string>
						<key>name</key>
						<string>Greg Solovyev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C6E1CD30DDE1CD85BAF8991CEF7FBB0D2D44D171</string>
						<key>dateExpires</key>
						<string>3/17/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UYQDLELD5G</string>
						<key>name</key>
						<string>Greg Solovyev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C6E1CD30DDE1CD85BAF8991CEF7FBB0D2D44D171</string>
						<key>dateExpires</key>
						<string>3/17/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UYQDLELD5G</string>
						<key>name</key>
						<string>Greg Solovyev</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UYQDLELD5G.com.anonymous.airtable-kanban-mobile</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UYQDLELD5G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>airtablekanbanmobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5213faee-2e60-4155-95a3-7aebf7d32689</string>
				<key>dateExpires</key>
				<string>3/17/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.anonymous.airtable-kanban-mobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UYQDLELD5G</string>
				<key>name</key>
				<string>Greg Solovyev</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
